.post-list {
    list-style: none;
    
    li {
      .row {
        display: flex;
        flex-wrap: wrap;
  
        .col-sm-9 {
          flex: 0 0 calc(9 / 12 * 100%);
          max-width: calc(9 / 12 * 100%);
        }
  
        .col-sm-3 {
          flex: 0 0 calc(3 / 12 * 100%);
          max-width: calc(3 / 12 * 100%);
        }
  
        img.card-img {
          width: 100%;
          height: auto;
        }
      }
  
      .post-title {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
  
      .post-meta {
        color: #999;
      }
    }
}

.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }

      .tags {
        .tag {
          display: inline-block;
          padding: 0.3rem 0.6rem;
          background-color: $alt-bg-color;
          border-radius: 0.6rem;
          line-height: 1.4em;

          a {
            color: $fg-color;
          }

          a:active {
            color: $fg-color;
          }
        }
      }
    }
  }
}