<div class="intro-container">
  {% assign about = include.content %}
  <h3 id="обо-мне">Обо мне</h3>
  <div class="row clearfix">
    {%- if about.profile_image -%}
      <div class="col-xs-12 col-sm-4 col-md-2 no-print">
        <span class="profile-img-small" style="background-image: url({{ about.profile_image | relative_url }})"></span>
      </div>
    {%- endif -%}
    <div class="{{ 'col-xs-12 ' }}{%- if about.profile_image -%}col-sm-8 col-md-9 col-print-12{%- endif -%}">
      {{ about.content | strip | markdownify }}
    </div>
  </div>
</div>
